<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Documentation</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Kiya Components</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <span class="ml-1 text-secondary">Components</span>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Alert
                </h2>
            </div>
        </div>
        <button
            class="-ml-3 sm:ml-0 mb-2 sm:mb-0 order-first sm:order-last"
            mat-icon-button
            (click)="toggleDrawer()">
            <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
        </button>
    </div>

    <div class="flex-auto max-w-3xl p-6 sm:p-10 prose prose-sm">

        <p>
            <strong>kiya-alert</strong> is a customizable component for displaying all kinds of alerts across your app. They can be controlled from your components as well
            as from the <code>KiyaAlertService</code>.
        </p>
        <p>
            <strong>Exported as: </strong><code>kiyaAlert</code>
        </p>

        <h2>Module</h2>
        <textarea
            kiya-highlight
            lang="typescript">
            import { KiyaAlertModule } from '@kiya/components/alert';
        </textarea>

        <h2>Properties</h2>
        <div class="bg-card py-3 px-6 rounded shadow">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Default</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="font-mono text-md text-secondary">
                            <div>@Input()</div>
                            <div>name: string</div>
                        </td>
                        <td>
                            A unique name for the alert box to access it from <code>KiyaAlertService</code>.
                        </td>
                        <td>
                            <code class="whitespace-nowrap">Auto generated</code>
                        </td>
                    </tr>
                    <tr>
                        <td class="font-mono text-md text-secondary">
                            <div>@Input()</div>
                            <div>appearance: KiyaAlertAppearance</div>
                        </td>
                        <td>
                            Appearance of the alert box.
                        </td>
                        <td>
                            <code class="whitespace-nowrap">soft</code>
                        </td>
                    </tr>
                    <tr>
                        <td class="font-mono text-md text-secondary">
                            <div>@Input()</div>
                            <div>dismissed: boolean</div>
                        </td>
                        <td>
                            Whether the alert box is dismissed.
                        </td>
                        <td>
                            <code class="whitespace-nowrap">false</code>
                        </td>
                    </tr>
                    <tr>
                        <td class="font-mono text-md text-secondary">
                            <div>@Input()</div>
                            <div>dismissible: boolean</div>
                        </td>
                        <td>
                            Whether the alert box is dismissible. This must be <code>true</code> for <code>dismissed</code> to work.
                        </td>
                        <td>
                            <code class="whitespace-nowrap">false</code>
                        </td>
                    </tr>
                    <tr>
                        <td class="font-mono text-md text-secondary">
                            <div>@Input()</div>
                            <div>showIcon: boolean</div>
                        </td>
                        <td>
                            Whether the icon is shown.
                        </td>
                        <td>
                            <code class="whitespace-nowrap">true</code>
                        </td>
                    </tr>
                    <tr>
                        <td class="font-mono text-md text-secondary">
                            <div>@Input()</div>
                            <div>type: KiyaAlertType</div>
                        </td>
                        <td>
                            The type of the alert box.
                        </td>
                        <td>
                            <code class="whitespace-nowrap">primary</code>
                        </td>
                    </tr>
                    <tr>
                        <td class="font-mono text-md text-secondary">
                            <div>@Output()</div>
                            <div>afterDismissed: true</div>
                        </td>
                        <td>
                            An event emitted after the alert box dismissed.
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr>
                        <td class="font-mono text-md text-secondary">
                            <div>@Output()</div>
                            <div>afterShown: true</div>
                        </td>
                        <td>
                            An event emitted after the alert box shown.
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2>Type aliases</h2>
        <!-- @formatter:off -->
        <textarea
            kiya-highlight
            lang="typescript">
            export type KiyaAlertAppearance =
                | 'border'
                | 'fill'
                | 'outline'
                | 'soft';
        </textarea>
        <textarea
            kiya-highlight
            lang="typescript">
            export type KiyaAlertType =
                | 'primary'
                | 'accent'
                | 'warn'
                | 'basic'
                | 'info'
                | 'success'
                | 'warning'
                | 'error';
        </textarea>
        <!-- @formatter:on -->

        <h2>Appearance</h2>
        <p>
            Alert component comes with 3 different built-in appearances to choose from:
        </p>

        <div class="example-viewer">

            <!-- Soft -->
            <div class="title">
                <h6>Soft (default)</h6>
            </div>

            <mat-tab-group [animationDuration]="'0ms'">

                <mat-tab
                    label="Preview"
                    class="bg-gray-200">

                    <ng-template matTabContent>

                        <!-- Primary -->
                        <kiya-alert [type]="'primary'">
                            <span kiyaAlertTitle>Primary alert</span>
                            Thank you for joining our newsletter
                        </kiya-alert>

                        <!-- Accent -->
                        <kiya-alert [type]="'accent'">
                            <span kiyaAlertTitle>Accent alert</span>
                            Your changes has been saved
                        </kiya-alert>

                        <!-- Warn -->
                        <kiya-alert [type]="'warn'">
                            <span kiyaAlertTitle>Warn alert</span>
                            Fill all required fields to proceed next step
                        </kiya-alert>

                        <!-- Basic -->
                        <kiya-alert [type]="'basic'">
                            <span kiyaAlertTitle>Basic alert</span>
                            You have 3 new notifications
                        </kiya-alert>

                        <!-- Info -->
                        <kiya-alert [type]="'info'">
                            <span kiyaAlertTitle>Info alert</span>
                            This is a alert with an 'info' level severity
                        </kiya-alert>

                        <!-- Success -->
                        <kiya-alert [type]="'success'">
                            <span kiyaAlertTitle>Success alert</span>
                            This is a alert with a 'success' level severity
                        </kiya-alert>

                        <!-- Warning -->
                        <kiya-alert [type]="'warning'">
                            <span kiyaAlertTitle>Warning alert</span>
                            This is a alert with a 'warning' level severity
                        </kiya-alert>

                        <!-- Error -->
                        <kiya-alert [type]="'error'">
                            <span kiyaAlertTitle>Error alert</span>
                            This is a alert with an 'error' level severity
                        </kiya-alert>

                    </ng-template>

                </mat-tab>

                <mat-tab label="HTML">

                    <!-- @formatter:off -->
                    <textarea
                        kiya-highlight
                        [lang]="'html'">

                        <!-- Primary -->
                        <kiya-alert [type]="'primary'">
                            <span kiyaAlertTitle>Primary alert</span>
                            Thank you for joining our newsletter
                        </kiya-alert>

                        <!-- Accent -->
                        <kiya-alert [type]="'accent'">
                            <span kiyaAlertTitle>Accent alert</span>
                            Your changes has been saved
                        </kiya-alert>

                        <!-- Warn -->
                        <kiya-alert [type]="'warn'">
                            <span kiyaAlertTitle>Warn alert</span>
                            Fill all required fields to proceed next step
                        </kiya-alert>

                        <!-- Basic -->
                        <kiya-alert [type]="'basic'">
                            <span kiyaAlertTitle>Basic alert</span>
                            You have 3 new notifications
                        </kiya-alert>

                        <!-- Info -->
                        <kiya-alert [type]="'info'">
                            <span kiyaAlertTitle>Info alert</span>
                            This is a alert with an 'info' level severity
                        </kiya-alert>

                        <!-- Success -->
                        <kiya-alert [type]="'success'">
                            <span kiyaAlertTitle>Success alert</span>
                            This is a alert with a 'success' level severity
                        </kiya-alert>

                        <!-- Warning -->
                        <kiya-alert [type]="'warning'">
                            <span kiyaAlertTitle>Warning alert</span>
                            This is a alert with a 'warning' level severity
                        </kiya-alert>

                        <!-- Error -->
                        <kiya-alert [type]="'error'">
                            <span kiyaAlertTitle>Error alert</span>
                            This is a alert with an 'error' level severity
                        </kiya-alert>

                    </textarea>
                    <!-- @formatter:on-->

                </mat-tab>

            </mat-tab-group>

        </div>

        <div class="example-viewer">

            <!-- Outline -->
            <div class="title">
                <h6>Outline</h6>
            </div>

            <mat-tab-group [animationDuration]="'0ms'">

                <mat-tab label="Preview">

                    <ng-template matTabContent>

                        <!-- Primary -->
                        <kiya-alert
                            [type]="'primary'"
                            [appearance]="'outline'">
                            <span kiyaAlertTitle>Primary alert</span>
                            Thank you for joining our newsletter
                        </kiya-alert>

                        <!-- Accent -->
                        <kiya-alert
                            [type]="'accent'"
                            [appearance]="'outline'">
                            <span kiyaAlertTitle>Accent alert</span>
                            Your changes has been saved
                        </kiya-alert>

                        <!-- Warn -->
                        <kiya-alert
                            [type]="'warn'"
                            [appearance]="'outline'">
                            <span kiyaAlertTitle>Warn alert</span>
                            Fill all required fields to proceed next step
                        </kiya-alert>

                        <!-- Basic -->
                        <kiya-alert
                            [type]="'basic'"
                            [appearance]="'outline'">
                            <span kiyaAlertTitle>Basic alert</span>
                            You have 3 new notifications
                        </kiya-alert>

                        <!-- Info -->
                        <kiya-alert
                            [type]="'info'"
                            [appearance]="'outline'">
                            <span kiyaAlertTitle>Info alert</span>
                            This is a alert with an 'info' level severity
                        </kiya-alert>

                        <!-- Success -->
                        <kiya-alert
                            [type]="'success'"
                            [appearance]="'outline'">
                            <span kiyaAlertTitle>Success alert</span>
                            This is a alert with a 'success' level severity
                        </kiya-alert>

                        <!-- Warning -->
                        <kiya-alert
                            [type]="'warning'"
                            [appearance]="'outline'">
                            <span kiyaAlertTitle>Warning alert</span>
                            This is a alert with a 'warning' level severity
                        </kiya-alert>

                        <!-- Error -->
                        <kiya-alert
                            [type]="'error'"
                            [appearance]="'outline'">
                            <span kiyaAlertTitle>Error alert</span>
                            This is a alert with an 'error' level severity
                        </kiya-alert>

                    </ng-template>

                </mat-tab>

                <mat-tab label="HTML">

                    <!-- @formatter:off -->
                    <textarea
                        kiya-highlight
                        [lang]="'html'">

                        <!-- Primary -->
                        <kiya-alert
                            [type]="'primary'"
                            [appearance]="'outline'">
                            <span kiyaAlertTitle>Primary alert</span>
                            Thank you for joining our newsletter
                        </kiya-alert>

                        <!-- Accent -->
                        <kiya-alert [type]="'accent'"
                                    [appearance]="'outline'">
                            <span kiyaAlertTitle>Accent alert</span>
                            Your changes has been saved
                        </kiya-alert>

                        <!-- Warn -->
                        <kiya-alert
                            [type]="'warn'"
                            [appearance]="'outline'">
                            <span kiyaAlertTitle>Warn alert</span>
                            Fill all required fields to proceed next step
                        </kiya-alert>

                        <!-- Basic -->
                        <kiya-alert
                            [type]="'basic'"
                            [appearance]="'outline'">
                            <span kiyaAlertTitle>Basic alert</span>
                            You have 3 new notifications
                        </kiya-alert>

                        <!-- Info -->
                        <kiya-alert
                            [type]="'info'"
                            [appearance]="'outline'">
                            <span kiyaAlertTitle>Info alert</span>
                            This is a alert with an 'info' level severity
                        </kiya-alert>

                        <!-- Success -->
                        <kiya-alert
                            [type]="'success'"
                            [appearance]="'outline'">
                            <span kiyaAlertTitle>Success alert</span>
                            This is a alert with a 'success' level severity
                        </kiya-alert>

                        <!-- Warning -->
                        <kiya-alert
                            [type]="'warning'"
                            [appearance]="'outline'">
                            <span kiyaAlertTitle>Warning alert</span>
                            This is a alert with a 'warning' level severity
                        </kiya-alert>

                        <!-- Error -->
                        <kiya-alert
                            [type]="'error'"
                            [appearance]="'outline'">
                            <span kiyaAlertTitle>Error alert</span>
                            This is a alert with an 'error' level severity
                        </kiya-alert>
                    </textarea>
                    <!-- @formatter:on -->

                </mat-tab>

            </mat-tab-group>

        </div>

        <div class="example-viewer">

            <!-- Fill -->
            <div class="title">
                <h6>Fill</h6>
            </div>

            <mat-tab-group [animationDuration]="'0ms'">

                <mat-tab label="Preview">

                    <ng-template matTabContent>

                        <!-- Primary -->
                        <kiya-alert
                            [type]="'primary'"
                            [appearance]="'fill'">
                            <span kiyaAlertTitle>Primary alert</span>
                            Thank you for joining our newsletter
                        </kiya-alert>

                        <!-- Accent -->
                        <kiya-alert
                            [type]="'accent'"
                            [appearance]="'fill'">
                            <span kiyaAlertTitle>Accent alert</span>
                            Your changes has been saved
                        </kiya-alert>

                        <!-- Warn -->
                        <kiya-alert
                            [type]="'warn'"
                            [appearance]="'fill'">
                            <span kiyaAlertTitle>Warn alert</span>
                            Fill all required fields to proceed next step
                        </kiya-alert>

                        <!-- Basic -->
                        <kiya-alert
                            [type]="'basic'"
                            [appearance]="'fill'">
                            <span kiyaAlertTitle>Basic alert</span>
                            You have 3 new notifications
                        </kiya-alert>

                        <!-- Info -->
                        <kiya-alert
                            [type]="'info'"
                            [appearance]="'fill'">
                            <span kiyaAlertTitle>Info alert</span>
                            This is a alert with an 'info' level severity
                        </kiya-alert>

                        <!-- Success -->
                        <kiya-alert
                            [type]="'success'"
                            [appearance]="'fill'">
                            <span kiyaAlertTitle>Success alert</span>
                            This is a alert with a 'success' level severity
                        </kiya-alert>

                        <!-- Warning -->
                        <kiya-alert
                            [type]="'warning'"
                            [appearance]="'fill'">
                            <span kiyaAlertTitle>Warning alert</span>
                            This is a alert with a 'warning' level severity
                        </kiya-alert>

                        <!-- Error -->
                        <kiya-alert
                            [type]="'error'"
                            [appearance]="'fill'">
                            <span kiyaAlertTitle>Error alert</span>
                            This is a alert with an 'error' level severity
                        </kiya-alert>

                    </ng-template>

                </mat-tab>

                <mat-tab label="HTML">

                    <!-- @formatter:off -->
                    <textarea
                        kiya-highlight
                        [lang]="'html'">

                        <!-- Primary -->
                        <kiya-alert
                            [type]="'primary'"
                            [appearance]="'fill'">
                            <span kiyaAlertTitle>Primary alert</span>
                            Thank you for joining our newsletter
                        </kiya-alert>

                        <!-- Accent -->
                        <kiya-alert
                            [type]="'accent'"
                            [appearance]="'fill'">
                            <span kiyaAlertTitle>Accent alert</span>
                            Your changes has been saved
                        </kiya-alert>

                        <!-- Warn -->
                        <kiya-alert [type]="'warn'"
                        [appearance]="'fill'">
                        <span kiyaAlertTitle>Warn alert</span>
                        Fill all required fields to proceed next step
                        </kiya-alert>

                        <!-- Basic -->
                        <kiya-alert
                            [type]="'basic'"
                            [appearance]="'fill'">
                            <span kiyaAlertTitle>Basic alert</span>
                            You have 3 new notifications
                        </kiya-alert>

                        <!-- Info -->
                        <kiya-alert
                            [type]="'info'"
                            [appearance]="'fill'">
                            <span kiyaAlertTitle>Info alert</span>
                            This is a alert with an 'info' level severity
                        </kiya-alert>

                        <!-- Success -->
                        <kiya-alert
                            [type]="'success'"
                            [appearance]="'fill'">
                            <span kiyaAlertTitle>Success alert</span>
                            This is a alert with a 'success' level severity
                        </kiya-alert>

                        <!-- Warning -->
                        <kiya-alert
                            [type]="'warning'"
                            [appearance]="'fill'">
                            <span kiyaAlertTitle>Warning alert</span>
                            This is a alert with a 'warning' level severity
                        </kiya-alert>

                        <!-- Error -->
                        <kiya-alert
                            [type]="'error'"
                            [appearance]="'fill'">
                            <span kiyaAlertTitle>Error alert</span>
                            This is a alert with an 'error' level severity
                        </kiya-alert>
                    </textarea>
                    <!-- @formatter:on -->

                </mat-tab>

            </mat-tab-group>

        </div>

        <div class="example-viewer">

            <!-- Border -->
            <div class="title">
                <h6>Border</h6>
            </div>

            <mat-tab-group [animationDuration]="'0ms'">

                <mat-tab label="Preview">

                    <ng-template matTabContent>

                        <!-- Primary -->
                        <kiya-alert
                            [type]="'primary'"
                            [appearance]="'border'">
                            <span kiyaAlertTitle>Primary alert</span>
                            Thank you for joining our newsletter
                        </kiya-alert>

                        <!-- Accent -->
                        <kiya-alert
                            [type]="'accent'"
                            [appearance]="'border'">
                            <span kiyaAlertTitle>Accent alert</span>
                            Your changes has been saved
                        </kiya-alert>

                        <!-- Warn -->
                        <kiya-alert
                            [type]="'warn'"
                            [appearance]="'border'">
                            <span kiyaAlertTitle>Warn alert</span>
                            Fill all required fields to proceed next step
                        </kiya-alert>

                        <!-- Basic -->
                        <kiya-alert
                            [type]="'basic'"
                            [appearance]="'border'">
                            <span kiyaAlertTitle>Basic alert</span>
                            You have 3 new notifications
                        </kiya-alert>

                        <!-- Info -->
                        <kiya-alert
                            [type]="'info'"
                            [appearance]="'border'">
                            <span kiyaAlertTitle>Info alert</span>
                            This is a alert with an 'info' level severity
                        </kiya-alert>

                        <!-- Success -->
                        <kiya-alert
                            [type]="'success'"
                            [appearance]="'border'">
                            <span kiyaAlertTitle>Success alert</span>
                            This is a alert with a 'success' level severity
                        </kiya-alert>

                        <!-- Warning -->
                        <kiya-alert
                            [type]="'warning'"
                            [appearance]="'border'">
                            <span kiyaAlertTitle>Warning alert</span>
                            This is a alert with a 'warning' level severity
                        </kiya-alert>

                        <!-- Error -->
                        <kiya-alert
                            [type]="'error'"
                            [appearance]="'border'">
                            <span kiyaAlertTitle>Error alert</span>
                            This is a alert with an 'error' level severity
                        </kiya-alert>

                    </ng-template>

                </mat-tab>

                <mat-tab label="HTML">

                    <!-- @formatter:off -->
                    <textarea
                        kiya-highlight
                        [lang]="'html'">
                        <!-- Primary -->
                        <kiya-alert
                            [type]="'primary'"
                            [appearance]="'border'">
                            <span kiyaAlertTitle>Primary alert</span>
                            Thank you for joining our newsletter
                        </kiya-alert>

                        <!-- Accent -->
                        <kiya-alert
                            [type]="'accent'"
                            [appearance]="'border'">
                            <span kiyaAlertTitle>Accent alert</span>
                            Your changes has been saved
                        </kiya-alert>

                        <!-- Warn -->
                        <kiya-alert
                            [type]="'warn'"
                            [appearance]="'border'">
                            <span kiyaAlertTitle>Warn alert</span>
                            Fill all required fields to proceed next step
                        </kiya-alert>

                        <!-- Basic -->
                        <kiya-alert
                            [type]="'basic'"
                            [appearance]="'border'">
                            <span kiyaAlertTitle>Basic alert</span>
                            You have 3 new notifications
                        </kiya-alert>

                        <!-- Info -->
                        <kiya-alert
                            [type]="'info'"
                            [appearance]="'border'">
                            <span kiyaAlertTitle>Info alert</span>
                            This is a alert with an 'info' level severity
                        </kiya-alert>

                        <!-- Success -->
                        <kiya-alert
                            [type]="'success'"
                            [appearance]="'border'">
                            <span kiyaAlertTitle>Success alert</span>
                            This is a alert with a 'success' level severity
                        </kiya-alert>

                        <!-- Warning -->
                        <kiya-alert
                            [type]="'warning'"
                            [appearance]="'border'">
                            <span kiyaAlertTitle>Warning alert</span>
                            This is a alert with a 'warning' level severity
                        </kiya-alert>

                        <!-- Error -->
                        <kiya-alert
                            [type]="'error'"
                            [appearance]="'border'">
                            <span kiyaAlertTitle>Error alert</span>
                            This is a alert with an 'error' level severity
                        </kiya-alert>
                    </textarea>
                    <!-- @formatter:on -->

                </mat-tab>

            </mat-tab-group>

        </div>

        <h2>Title and alert</h2>
        <p>
            All alert boxes have <strong>title</strong> and <strong>alert</strong> content that can be customized.
        </p>

        <div class="example-viewer">

            <div class="title">
                <h6>Example</h6>
            </div>

            <mat-tab-group [animationDuration]="'0ms'">

                <mat-tab label="Preview">

                    <ng-template matTabContent>

                        <kiya-alert
                            [appearance]="'soft'"
                            [type]="'info'">
                            <span kiyaAlertTitle>Alert title</span>
                            This is the alert content
                        </kiya-alert>

                        <kiya-alert
                            [appearance]="'soft'"
                            [type]="'info'">
                            <span kiyaAlertTitle>Alert title without any content</span>
                        </kiya-alert>

                        <kiya-alert
                            [appearance]="'soft'"
                            [type]="'info'">
                            Simple alert without a title
                        </kiya-alert>

                    </ng-template>

                </mat-tab>

                <mat-tab label="HTML">

                    <!-- @formatter:off -->
                    <textarea
                        kiya-highlight
                        [lang]="'html'">
                        <kiya-alert
                            [appearance]="'soft'"
                            [type]="'info'">
                            <span kiyaAlertTitle>Alert title</span>
                            This is the alert content
                        </kiya-alert>

                        <kiya-alert
                            [appearance]="'soft'"
                            [type]="'info'">
                            <span kiyaAlertTitle>Alert title without any content</span>
                        </kiya-alert>

                        <kiya-alert
                            [appearance]="'soft'"
                            [type]="'info'">
                            Simple alert without a title
                        </kiya-alert>
                    </textarea>
                    <!-- @formatter:on -->

                </mat-tab>

            </mat-tab-group>

        </div>

        <h2>Icons</h2>
        <p>
            The <strong>info</strong>, <strong>success</strong>, <strong>warning</strong> and <strong>error</strong> type alert boxes have default icons and they are visible
            by default. If you wish to hide those icons, use the <code>[showIcon]="false"</code> input.
        </p>

        <div class="example-viewer">

            <div class="title">
                <h6>Example</h6>
            </div>

            <mat-tab-group [animationDuration]="'0ms'">

                <mat-tab label="Preview">

                    <ng-template matTabContent>

                        <kiya-alert
                            [appearance]="'soft'"
                            [type]="'success'"
                            [showIcon]="false">
                            Success alert with no icon
                        </kiya-alert>

                    </ng-template>

                </mat-tab>

                <mat-tab label="HTML">

                    <!-- @formatter:off -->
                    <textarea
                        kiya-highlight
                        [lang]="'html'">
                        <kiya-alert
                            [appearance]="'soft'"
                            [type]="'success'"
                            [showIcon]="false">
                            Success alert with no icon
                        </kiya-alert>
                    </textarea>
                    <!-- @formatter:on -->

                </mat-tab>

            </mat-tab-group>

        </div>

        <h2>Custom icons</h2>
        <p>
            All alert boxes come with custom icon support. To use a custom icon, simply use <code>kiyaAlertIcon</code> attribute on an element you wish to use as the icon.
            If there is a default icon for the alert box, custom icon will override it.
        </p>

        <div class="example-viewer">

            <div class="title">
                <h6>Example</h6>
            </div>

            <mat-tab-group [animationDuration]="'0ms'">

                <mat-tab label="Preview">

                    <ng-template matTabContent>

                        <kiya-alert
                            [appearance]="'soft'"
                            [type]="'info'">
                            <mat-icon
                                kiyaAlertIcon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:lock-open'"></mat-icon>
                            Info alert with a custom icon
                        </kiya-alert>

                    </ng-template>

                </mat-tab>

                <mat-tab label="HTML">

                    <!-- @formatter:off -->
                    <textarea
                        kiya-highlight
                        [lang]="'html'">
                        <kiya-alert
                            [appearance]="'soft'"
                            [type]="'info'">
                            <mat-icon class="icon-size-5"
                                      kiyaAlertIcon
                                      [svgIcon]="'heroicons_solid:lock-open'">
                            </mat-icon>
                            Info alert with a custom icon
                        </kiya-alert>
                    </textarea>
                    <!-- @formatter:on -->

                </mat-tab>

            </mat-tab-group>

        </div>

        <h2>Dismissible alerts</h2>
        <p>
            Dismissible alerts can be removed from the view by clicking their <strong>dismiss (x)</strong> button. In order to get the dismiss button visible, the
            <code>[dismissed]</code> input must be explicitly set either to <code>true</code> or <code>false</code>. Setting the <code>[dismissed]</code> input to
            <code>null</code> or simply removing it from the element will remove the <strong>dismiss</strong> button.
        </p>

        <div class="example-viewer">

            <div class="title">
                <h6>Example</h6>
                <button
                    mat-button
                    [color]="'primary'"
                    (click)="show('alertBox1'); show('alertBox2')">
                    Reset
                </button>
            </div>

            <mat-tab-group [animationDuration]="'0ms'">

                <mat-tab label="Preview">

                    <ng-template matTabContent>

                        <kiya-alert
                            [appearance]="'soft'"
                            [dismissible]="true"
                            [dismissed]="false"
                            [name]="'alertBox1'"
                            [type]="'success'">
                            Your subscription model is successfully upgraded to the <b>Lifetime Pro</b>.
                        </kiya-alert>

                        <kiya-alert
                            [appearance]="'soft'"
                            [dismissible]="true"
                            [dismissed]="false"
                            [name]="'alertBox2'"
                            [type]="'info'">
                            This one has a lot of text so you can see how the text is going to be displayed. Also this is a dismissible alert box which can be dismissed by
                            clicking the <b>dismiss</b> button.
                        </kiya-alert>

                    </ng-template>

                </mat-tab>

                <mat-tab label="HTML">

                    <!-- @formatter:off -->
                    <textarea
                        kiya-highlight
                        [lang]="'html'">
                        <kiya-alert
                            [appearance]="'soft'"
                            [dismissible]="true"
                            [dismissed]="false"
                            [name]="'alertBox1'"
                            [type]="'success'">
                            Your subscription model is successfully upgraded to the <b>Lifetime Pro</b>.
                        </kiya-alert>

                        <kiya-alert
                            [appearance]="'soft'"
                            [dismissible]="true"
                            [dismissed]="false"
                            [name]="'alertBox2'"
                            [type]="'info'">
                            This one has a lot of text so you can see how the text is going to be displayed.
                            Also this is a dismissible alert box which can be dismissed by clicking the <b>dismiss</b> button.
                        </kiya-alert>
                    </textarea>
                    <!-- @formatter:on -->

                </mat-tab>

            </mat-tab-group>

        </div>

        <h2>Dismissible alerts controlled from the service</h2>
        <p>
            Alerts can be shown and dismissed via <code>KiyaAlertService</code>.
        </p>

        <div class="example-viewer">

            <div class="title">
                <h6>Example</h6>
            </div>

            <mat-tab-group [animationDuration]="'0ms'">

                <mat-tab label="Preview">

                    <ng-template matTabContent>

                        <button
                            class="mr-3"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="show('alertBox3'); show('alertBox4')">
                            Show alert boxes
                        </button>

                        <button
                            mat-flat-button
                            [color]="'primary'"
                            (click)="dismiss('alertBox3'); dismiss('alertBox4')">
                            Dismiss alert boxes
                        </button>

                        <kiya-alert
                            [appearance]="'soft'"
                            [dismissible]="true"
                            [dismissed]="false"
                            [name]="'alertBox3'"
                            [type]="'success'">
                            Your subscription model is successfully upgraded to the <b>Lifetime Pro</b>.
                        </kiya-alert>

                        <kiya-alert
                            [appearance]="'soft'"
                            [dismissible]="true"
                            [dismissed]="false"
                            [name]="'alertBox4'"
                            [type]="'info'">
                            This one has a lot of text so you can see how the text is going to be displayed. Also this is a dismissible alert box which can be dismissed by
                            clicking the <b>close</b> button.
                        </kiya-alert>

                    </ng-template>

                </mat-tab>

                <mat-tab label="HTML">

                    <!-- @formatter:off -->
                    <textarea
                        kiya-highlight
                        [lang]="'html'">
                        <button
                            class="mr-3"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="show('alertBox3'); show('alertBox4')">
                            Show alert boxes
                        </button>

                        <button
                            mat-flat-button
                            [color]="'primary'"
                            (click)="dismiss('alertBox3'); dismiss('alertBox4')">
                            Dismiss alert boxes
                        </button>

                        <kiya-alert
                            [appearance]="'soft'"
                            [dismissible]="true"
                            [dismissed]="false"
                            [name]="'alertBox3'"
                            [type]="'success'">
                            Your subscription model is successfully upgraded to the <b>Lifetime Pro</b>.
                        </kiya-alert>

                        <kiya-alert
                            [appearance]="'soft'"
                            [dismissible]="true"
                            [dismissed]="false"
                            [name]="'alertBox4'"
                            [type]="'info'">
                            This one has a lot of text so you can see how the text is going to be displayed.
                            Also this is a dismissible alert box which can be dismissed by clicking the <b>close</b> button.
                        </kiya-alert>
                    </textarea>
                    <!-- @formatter:on -->

                </mat-tab>

                <mat-tab label="Typescript">

                    <!-- @formatter:off -->
                    <textarea kiya-highlight
                              [lang]="'typescript'">

                        /**
                         * Constructor
                         */
                        constructor( private _kiyaAlertService: KiyaAlertService ) {}

                        /**
                         * Dismiss the alert via the service
                         *
                         * @param name
                         */
                        dismiss(name: string): void
                        {
                            this._kiyaAlertService.dismiss(name);
                        }

                        /**
                         * Show the alert via the service
                         *
                         * @param name
                         */
                        show(name: string): void
                        {
                            this._kiyaAlertService.show(name);
                        }

                    </textarea>
                    <!-- @formatter:on -->

                </mat-tab>

            </mat-tab-group>

        </div>

    </div>

</div>
